
:root {
  --gray-scale-900: #1D2026;
  --gray-scale-800: #363B47 ;
  --gray-scale-700: #4E5566;
  --gray-scale-600: #6E7485;
  --gray-scale-500: #8C94A3;
  --gray-scale-400: #A1A5B3;
  --gray-scale-300: #B7BAC7;
  --gray-scale-200: #CED1D9;
  --gray-scale-100: #E9EAF0;
  --gray-scale-50:  #F5F7FA;

  --primary-900: #33140B;
  --primary-800: #662916;
  --primary-700: #993D20;
  --primary-600: #CC522B;
  --primary-500: #FF6636;
  --primary-400: #FF855E;
  --primary-300: #FFA386;
  --primary-200: #FFDDD1;
  --primary-100: #FFEEE8;

  --secondary-900: #111033;
  --secondary-800: #222065;
  --secondary-700:#342F98;
  --secondary-600: #453FCA;
  --secondary-500: #564FFD;
  --secondary-400: #7872FD;
  --secondary-300: #9A95FE;
  --secondary-200: #CDCBFE;
  --secondary-100: #EBEBFF;

  --Success-900: #07260A;
  --Success-800: #0E4C14;
  --Success-700: #15711F;
  --Success-600: #1C9729;
  --Success-500: #23BD33;
  --Success-400: #4FCA5C;
  --Success-300: #7BD785;
  --Success-200: #C3E5C6;
  --Success-100: #E1F7E3;

  --Warning-900: #331D06;
  --Warning-800: #65390C;
  --Warning-700: #985613;
  --Warning-600: #CC7319;
  --Warning-500: #FD8E1F;
  --Warning-400: #FDA44C;
  --Warning-300: #FEBB79;
  --Warning-200: #FED1A5;
  --Warning-100: #FFF2E5;

  --Danger-900: #2D0E0E;
  --Danger-800: #5B1B1B;
  --Danger-700: #882929;
  --Danger-600: #B63636;
  --Danger-500: #E34444;
  --Danger-400: #E96969;
  --Danger-300: #EE8F8F;
  --Danger-200: #F4C8C8;
  --Danger-100: #FFF0F0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 0;
}

button {
    border: none;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    
}

.heading {
    margin-bottom: 40px;
    text-align: center;
}

.btn-sm {
    padding-right: 16px;
    padding-left: 16px;
    font-family: "inter" sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: -0.4%;
}

.btn-md {
    padding-right: 24px;
    padding-left: 24px;
    font-family: "inter" sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: -1%;
}

.btn-lg {
    padding-right: 32px;
    padding-left: 32px;
    font-family: "inter" sans-serif;
 font-weight: 600;
 font-size: 18px;
 line-height: 56px;
 letter-spacing: -1%;
}

.primary-primary {
    background-color: var(--primary-500);
    color: white;
}

.primary-primary:hover {
    background-color: var(--primary-600);
    color: white;
}

.primary-primary:disabled {
    background-color: var(--primary-200);
    color: white;
}

.primary-secondary {
    background-color: var(--secondary-500);
    color: white;
}

.primary-secondary:hover {
    background-color: var(--secondary-600);
    color: white;
}

.primary-secondary:disabled {
    background-color: var(--secondary-200);
    color: white;
}


.primary-gray {
    background-color: var(--gray-scale-900);
    color: white;
}

.primary-gray:hover {
    background-color: var(--gray-scale-800);
    color: white;
}

.primary-gray:disabled {
    background-color: var(--gray-scale-200);
    color: white;
}

.secondary-primary {
    background-color: var(--primary-100);
    color: var(--primary-500);
}

.secondary-primary:hover {
    background-color: var(--primary-200);
    color: var(--primary-600);
}

.secondary-primary:disabled {
    background-color: var(--primary-100);
    color: var(--primary-300);;
}

.secondary-secondary {
    background-color: var(--secondary-100);
    color: var(--secondary-500);
}

.secondary-secondary:hover {
    background-color: var(--secondary-200);
    color: var(--secondary-600);
}

.secondary-secondary:disabled {
    background-color: var(--primary-100);
    color: var(--secondary-300);;
}

.secondary-gray {
    background-color: var(--gray-scale-50);
    color: var(--gray-scale-900);
}

.secondary-gray:hover {
    background-color: var(--gray-scale-100);
    color: var(--gray-scale-800);
}

.secondary-gray:disabled {
    background-color: var(--gray-scale-50);
    color: var(--gray-scale-300);;
}

.tag-primary-100 {
    padding: 4px 6px;
    color: var(--primary-700);
    background: var(--primary-100);
}

.tag-secondary-100 {
    padding: 4px 6px;
    color: var(--secondary-700);
    background: var(--secondary-100);
}

.tag-Success-100 {
    padding: 4px 6px;
    color: var(--Success-700);
    background: var(--Success-100);
}

.tag-gray-100 {
    padding: 4px 6px;
    background-color: var(--gray-scale-50);
    color: var(--gray-scale-900);
}


.btn-no-ic{
    padding-right: 24px;
    padding-left: 24px;
}

.btn-right-ic{
    padding-right: 24px;
    padding-left: 24px;
}

.btn-left-ic{
    padding-right: 24px;
    padding-left: 24px;
}


.btn-nm{
    padding-right: 24px;
    padding-left: 24px;
}

.btn-hr{
    padding-right: 24px;
    padding-left: 24px;
}

.btn-de{
    padding-right: 24px;
    padding-left: 24px;
}

.form-normal{
    height: 48px;
    border: 1px solid var(--gray-scale-100);
    padding: 12px 18px;
}

.display1{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -2%;
}
.display2{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 72px;
    line-height: 74px;
    letter-spacing: -2%;
}
.display3{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2%;
}
.heading1{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -2%;
}
.heading2{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1%;
}
.heading3{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1%;
}
.heading4{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1%;
}
.label-xxl{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: uppercase;
}
.label-xl{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: uppercase;
}
.label-lg{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: uppercase;
}
.label-md{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0px;
    text-transform: uppercase;
}
.label-sm{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.body-xxxl{
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
}
.body-xxl-400{
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
}
.body-xxl-500{
    font-family: "inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
}
.body-xxl-600{
    font-family: "inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
}
.body-xl-400{
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1.5%;
}
.body-xl-500{
    font-family: "inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
}
.body-xl-600{
    font-family: "inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
}
.body-large-400{
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0%;
}
.body-large-500{
    font-family: "inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
}
.body-large-600{
    font-family: "inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
}
.body-meduim-400{
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -1%;
}
.body-meduim-500{
    font-family: "inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -1%;
   
}
.body-meduim-600{
    font-family: "inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -1%;
}
.body-small-400{
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;

}
.body-small-500{
    font-family: "inter", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
}
.body-small-600{
    font-family: "inter", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
}
.body-tiny-400{
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0%;
}
.body-tiny-500{
    font-family: "inter", sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0%;
}
.body-tiny-600{
    font-family: "inter", sans-serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0%;
}


/* header */


.nav-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#fff;
    box-shadow:0 2px 4px rgba(0,0,0,0.1);
    background-color: var(--gray-scale-900);
    padding:0 32px;
    height: 52px;
}
.nav-eng{
    display:flex;
    align-items:center;
    gap:16px;
    color:var(--gray-scale-400);
}

.lang span {
    margin-right: 6px;
}

.under-nav {
  display: flex;
  justify-content: space-between;
  padding: 28px 32px;
}

.logo {
  width: 153px;
  height: 40px;
}

.links a{
    color:var(--gray-scale-500);
    padding: 16px;
}

.right-side, .left-side {
  display: flex;
}

.right-side {
  gap: 50px
}
.forms {
  display: flex;
  gap: 16px;
}
.form {
    display: flex;
    align-items: center;
}

.forms .form:first-child {
    color: var(--gray-scale-700);
    width: 200px;
    justify-content: space-between;
}

.forms .form:last-child {
    color:var(--gray-scale-500);
    width: 424px;
}

.forms .form:last-child img {
    margin-right: 12px;
}

.notification {
    display: flex;
    gap: 12px;
    align-items: center;
}

.left-side {
    gap: 12px;
}


/* Hero Section*/

.hero-section {
    display: flex;
    width: 100%;
    align-items: center;
    overflow: hidden;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: start;
    flex:1;
    padding: 0 10%;
    gap: 40px;
}

.content h1{
   color: var(--gray-scale-900);
}
.content p{
    max-width: 450px;
    color: var(--gray-scale-700);
}
.img{
    flex: 1;
    height: 548px;
    position: relative;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}
.img img{
  width: 100%;
    height: 100%;
    object-fit: cover;
    left: 1020px;
}

/* Categorey */

.category {
  padding: 80px 0;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}


.card {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.card:hover {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.icon-box {
  width: 64px;
  height: 64px;
  background-color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.category-icon img{
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.card-label     { background-color: var(--secondary-100); }
.card-business  { background-color: var(--Success-100); }
.card-finance   { background-color: var(--Warning-100); }
.card-it        { background-color: var(--Danger-100); }

.card-personal .icon-box { background-color: var(--primary-500); }
.card-personal { background-color: var(--primary-100); }
.card-office    { background-color: var(--gray-scale-50); }
.card-marketing { background-color: var(--secondary-100); }
.card-photo     { background-color: var(--gray-scale-50); }

.card-lifestyle { background-color: var(--Warning-100); }
.card-design    { background-color: var(--primary-100); }
.card-health    { background-color: var(--Success-100); }
.card-music     { background-color: var(--Warning-100); }

.info h3 {
    color: #1D2026;
    margin-bottom: 8px; 
}

.info p {
    color: #6E7485; 
}

.footer-category {
  display: flex;
  gap: 12px;
  text-align: center;
  margin-top: 40px;
  color: var(--gray-scale-600);
  justify-content: center;
}

.footer-category a {
  color: #FF6636;
}

/* Best Selling */

.best-selling {
    background-color: var(--gray-scale-50);
    padding: 80px 0;
}

.row-course {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
}


.course {
    background-color: white;
}

.course > img {
    width: 100%;
}

.content-course {
    padding: 15px 14px 14px;
}

.head-cours {
    display: flex;
    justify-content: space-between;
}

.price {
    color: var(--primary-500);
}

.content-course p {
    padding-top: 14px;
}

.foote-course {
    display: flex;
    justify-content: space-between;
    color: var(--gray-scale-700);
}

.num-course span:last-child {
    color: var(--gray-scale-500);
}

.rank img{
    margin-right: 2px;
}

.hr {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--gray-scale-100);
}

.feature {
    padding: 82px 80px;
    max-width: 1480px;
    margin: 0 auto;
    border: 1px solid var(--gray-scale-100);
}

.feat-title p {
    max-width: 424px;
}

.feat-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}

.feature-row {
    display: grid;
        grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 26px;
    
}

.card-feat {
    display: flex;
    border: 1px solid var(--gray-scale-100);
    width: auto;
}

.img-feat {
    width: 220px;
    object-fit: cover;
}

.card-feat-content {
    padding: 16px 24px;
}

.feat-head {
    margin-bottom: 17px;
}

.feat-head-content {
    display: flex;
    justify-content: space-between;
        align-items: center;
    margin-bottom: 8px;
}

.card-feat p,
.feat-price span:first-child {
    color: var(--gray-scale-900);
}

.feat-price  span:last-child {
    color: var(--gray-scale-400);
    text-decoration: line-through; 
}

.feat-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.instructor {
    display: flex;
    gap: 12px;
    align-items: center;
}

.instructor img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.instructor span {
    color: var(--gray-scale-700);
}

.feat-rating{
    display: flex;
    align-items: center;
    gap: 2px;
}

.feat-rating .rt{
    color: var(--gray-scale-900);
}

.feat-rating .nb{
    color: var(--gray-scale-500);
}

.feat-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}

.nb-student {
    color: var(--gray-scale-900);
}

.students {
    color: var(--gray-scale-500);
}

.flex-aling-center {
    display: flex;
    align-items: center;
    gap: 6px;
}

.orange {
    color: var(--primary-500);
}



/* Recently */


.recently {
    padding: 80px 0;
}

.recently-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.recently-img {
    max-width: 312px;
}

.recently button {
    margin-top: 40px;
}

button img {
    margin-left: 12px;
}


